</head>
<body>

<p>Find Your Inner Beer Personality</p>
<p>My Beer Personality was: the Doormat</p>
<img class="img-responsive img-pretty" src="http://fromcaterpillarstobutterflies.com/wp-content/uploads/2015/10/My-Bully-Boss.jpg" alt="">


<!-- <div class="container">

  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">My Beer Personality was: 
              <small>the Doormat</small>
          </h1>
      </div>
  </div>
  <div class="row">

    <div class="col-md-8">
        <img class="img-responsive img-pretty" src="http://fromcaterpillarstobutterflies.com/wp-content/uploads/2015/10/My-Bully-Boss.jpg" alt="">
    </div>

    <div class="col-md-4">
        <h3>Your beer of choice is a Pale Lager</h3>
        <p>You apologize for everything you do and you're very weak-willed. Maybe you should try a more adventurous beer.</p>
    </div>

  </div>
</div> -->