<div class="well">
  <form method="post" action='/user_name'>
    <h2>Enter your name:</h2>
    <div>
      <input type="text" name="user_name" placeholder="Your Name">
    </div>
    <div>
      <input class="input" type="submit" value="Submit">
    </div>
  </form>
</div>