<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="Test type" />
  <meta property="og:title"         content="Test Title" />
  <meta property="og:description"   content="Test description" />
  <meta property="og:image"         content="http://aswsup.org/Advphoto/94QN6U8K5TVUN0DRIUMYdownload.jpg" />

  <link rel="stylesheet" href="/stylesheets/application.css">
  

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/bootstrap/css/landing-page.css">
  <link href="/bootstrap/css/modern-business.css" rel="stylesheet">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <%= yield %>
</body>
</html>
