<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta property="fb:app_id"             content="128032200945313"/>
  <meta property="og:url"                content="http://beer-personality-test.herokuapp.com/home" />
  <meta property="og:type"               content="profile" />
  <meta property="og:title"              content="Beer Personality Test" />
  <meta property="og:description"        content="Test Test" />
  <meta property="og:image"              content="https://t1.ftcdn.net/jpg/00/87/32/50/240_F_87325027_PXBH2B65LYLlnwg3wcQPxoD8W3TsBT8Q.jpg" />




  <link rel="stylesheet" href="/stylesheets/application.css">
  

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/bootstrap/css/landing-page.css">
  <link href="/bootstrap/css/modern-business.css" rel="stylesheet">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
