<div>
    <h2> <%= @question.q_text %></h2>
</div>

<div>
  <form method="post" action='/update_user_answers'>
    <input type="hidden" name="q_id" value='<%=@question.id%>'>
    </input>
    <% @answers.each do |answer| %>
      <div>
        <input type="radio" name="option" value='<%=answer.id%>'>
          <%=answer.a_text%>
        </input>
      </div>
    <% end %>
    <div>
      <input class="input" type="submit" value="Submit">
    </div>
  </form>
</div>